.objectives-container {
    /* height: 100vh; */
    background-color: #ce9e02;
    text-align: center;
    color: white;
    font-family: 'Ropa Sans', sans-serif;
    padding-top: 50px;
}
.objectives-container ul {
    padding-bottom: 50px;
    font-size: xx-large;
    list-style: none;
}
.objectives-container ul li {
    padding: 15px;
}
@media only screen and (max-width: 1200px) {
    .objectives-container ul {
      font-size: x-large;
      padding: 10px;
    }
}
@media only screen and (max-width: 600px) {
  .objectives-container ul {
    font-size: x-large;
  }
}
