.join-container {
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Ropa Sans", sans-serif;
  font-size: xx-large;
}
.join-container p {
  text-align: center;
  font-size: xx-large;
}
@media only screen and (max-width: 1200px) {
  .join-container p {
    font-size: x-large; 
  }
}
@media only screen and (max-width: 600px) {
  .join-container p {
    font-size: x-large;
  }
}
